@font-face {
    font-family: "Glacial Indifference";
    src: url("../../assets/Fonts/GlacialIndifference-Regular.woff2") format("woff2"),
      url("../../assets/Fonts/GlacialIndifference-Regular.woff") format("woff");
    // font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TanType";
    src: url("../../assets/Fonts/TAN-PEARL.woff2") format("woff2"),
      url("../../assets/Fonts/TAN-PEARL.woff") format("woff");
    // font-weight: 700;
    font-style: normal;
    font-display: swap;
  }