@use "../styles/partials/variables" as *;
@use "../styles/partials/mixin" as *;
// @use "../styles/partials/font" as *;

// @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 225, 255, 0.1);
}

#root {
  width: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;

  @include tablet {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent !important;
}

// h1,
// h2,
// h3,
// p,
// span {
//   color: white;
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
// }

.site-container {
  height: 100vh;
  padding: 28px;
  min-height: 100vh;
}

.site-inner-container {
  height: 100%;
  border-radius: 1.5rem;
  padding: 28px;
  overflow: auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 1;
  position: relative;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.524);

  @include tablet {
    overflow: hidden;
  }
}

.nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  flex-direction: row;


  &__section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
  }
}

// #logo {
//   justify-content: flex-start;
//   font-size: 2rem;
//   // font-family: 'Alex Brush', cursive;
//   font-family: "Great Vibes", cursive;
// }

// #link {
//   gap: 6rem;
// }

// #social {
//   gap: 3rem;
// }

.main {
  display: flex;
  position: relative;
  height: 100%;
  gap: 2rem;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.about {
  flex-basis: 35%;
  background: rgba(109, 40, 109, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  position: relative;
  font-family: "Sogo", serif;
color: white;




  &__nav {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Aboreto", cursive;
  }

  &__logo {
    font-family: "Babylonica", cursive;
    font-size: 1.6rem;
    border-right: 1px solid #9d84ff;
    padding-right: 2rem;
    margin-right: 1rem;
  }

  &__link {
    color: #9d84ff;
    padding-right: 1rem;
    padding-left: 0.5rem;
  }

  &__title {
    display: inline-block;
    font-size: 3.5rem;
    font-family: "Babylonica", cursive;
    margin: 0;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: Center;
    padding-right: 1rem;
    padding-left: 1rem;

  }

  &__fun {
    color: rgb(83, 196, 216);
  }

  &__subtitle {
    font-size: 1rem;
    font-family: "Aboreto", cursive;
    margin: 0;
    // text-decoration: underline;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    color: #2accf2;
  }

  &__text {
    font-size: 0.9rem;
  line-height: 1.1rem;
  color: gainsboro;
  


    // @include desktop {
    //   font-size: 1vw;
    //   line-height: 1vw;
    // }
  }

  // &__about,
  // &__contact {

  //   margin-right: 1rem;
  // }

  &__about,
  &__contact {
    background-color: transparent;
    color: white;
    // border: 1px solid rgb(161, 159, 159);

    &:hover {
      background-image: url(https://i.gifer.com/7Ntk.gif);
      background-position: 40%;
    }
  }

  &__menu-button {
    background-color: transparent;
    &:hover {
      background-image: url(https://assets-global.website-files.com/6398b11ee9bf53ef62055173/642a4cd50700e3c6f5951cda_space2.gif);
      background-position: 40%;
      background-size: cover;
      // border: #9d84ff 1px solid;
    }
  }

  &__social {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    padding-left: 1rem;
  }

  &__menu {
    position: relative;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: white;
      position: absolute;
      top: 60px;
      left: 0;
      border-radius: 10px;
    }

    &-button {
      font-size: 0.7rem;
      color: #9d84ff;
      padding: 0.8rem 1.5rem;
    }

    &__social {
      padding-bottom: 2rem;
    }
  }
}

.projects {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: unset;
  gap: 2rem;
  color: white;
  text-align: center;

  @include tablet {
    overflow-y: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left: 1px dashed white;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  padding-right: 0.6rem;
  color: white;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #868484;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grain {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  // z-index: -1;
  transform: translateZ(0);

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    // background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    background-image: url(./../assets/grain.png);
    opacity: 0.25;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
    // mix-blend-mode: hard-light;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}
