@use "../styles/partials/variables" as *;
@use "../styles/partials/mixin" as *;

// @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 225, 255, 0.1);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
span {
  color: white;
}

.nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  flex-direction: row;

  &__section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
  }
}

#logo {
  justify-content: flex-start;
  font-size: 2rem;
  // font-family: 'Alex Brush', cursive;
  font-family: "Great Vibes", cursive;
}

#link {
  gap: 6rem;
}

#social {
  gap: 3rem;
}

.main {
  flex-grow: 1;
  position: relative;
  > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
  }

  > article[data-status="active"] {
    transform: translateX(0%);
  }

  > article[data-status="before"] {
    transform: translateX(-100%);
  }

  > article[data-status="after"] {
    transform: translateX(100%);
  }

  > article[data-status="becoming-active-from-before"],
  > article[data-status="becoming-active-from-after"] {
    transform: translateX(-100%);
    transition: none;
  }
}

.article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease;

  &__section {
    height: 100%;
  }

  &__section--description,
  &__section--nav {
    border-left: 1px solid var(--border-color);
  }

  &__section--title,
  &__section--nav {
    border-top: 1px solid var(--border-color);
  }

  &__button {
    background: transparent;
    color: white;
  }

  &__image {
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
